body {
    background-color: #eae7e7c3;
    margin: 0;
    padding: 0;
}

.doctor_info {
    display: flex;
    align-items: center; 
    background-color: rgb(229, 161, 229);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 52rem;
    height: auto;
    border-radius: 15px;
    margin: 5rem 0 0 5rem;
}

#ch:checked ~ .doctor_info{
    width: auto;
    height: auto;
}

#ch{
    display: none;
}

#ch:checked ~ .content{
    display: block;
}

#ch:checked ~ label{
    display: none;
}

.content{
    display: none;
}

label{
    
    color: blue;
    
}


.card {
    flex-direction: column;
    text-align: left;
   
}

.card span {
    margin-bottom: 1rem; 
}

.card label {
    color: blue;
    cursor: pointer; 
}
.card_image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 5px solid #9176ff;
    padding: 3px;
    margin: 1rem;

}

.doctor_details {
    display: flex;
    padding-top: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
    border-bottom: 1px solid #ccc;
}

.card_image img {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container{
    display: flex;
}

.clinic_info{
    font-weight: 700;
    padding: 0;
    position: absolute;
    border:2px solid black;
    width: 20%;
    height: 75%;
    margin: 12vh 0 2rem 60rem;
}

.clinic_info h1{
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: 1.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fee{
    display: flex;
    height: 69px;
    align-items: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 0 0 0 15px;
    background: hsla(197, 100%, 50%, 0.183);
   
}

.fee .title{
    
    padding: 0 69px 0 30px;
} 

.area{
    display: block;
    padding: 4px 0 0 19px;
}

.hospital_info{
    padding-top: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.line{
    margin-left: 25px;
    width: 250px;
    height: 1px;
    background: hsla(197, 100%, 50%, 0.279);
    /* background-color: rgb(108, 141, 151); */
  
}
