*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
}
.slide{
    position: fixed;
    height: auto;
    width: 150px;
    /* position: absolute; */
    /* top: 50%; */
    border-radius: 5px;
    background-color: #fff;
    transition: 0.5s ease;
    transform: translateX(-180px);
    
}
.slide .close{
    width: 30px;
}
h1{
    position:relative;
    color: #8000ff;
    font-weight: 800;
    /* text-align: right; */
    /* padding: 12px 54px; */
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
    margin: 5px;
}
ul li{
    list-style: none;
    
}
ul li a{
    color: black;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
ul li a.active{
display: none;
}
ul li:hover a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #8000ff;
    border-radius: 5px;
}
ul li a i{
    
    width: 40px;
    text-align: center;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;

}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    /* top:50% */
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #8000ff;
    border-radius: 50px;
    transition: 0.3s ease;

}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input:checked ~ .toggle .top_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(20px);
}
input:checked ~ .slide{
    /* height: auto; */
    /* width: auto; */
    transform: translateX(0);
    box-shadow: 0 0 15px rgb(0,0,0,0.5);
}

